{#

    /**
     * Recent post
     *
     * @author  Jérémy Levron <jeremylevron@19h47.fr
     */

#}

<div class="row margin-xs-top-24">

{% for post in posts %}
    <div class="col-xs-12 col-md-3{{ loop.index == 1 ? ' col-md-offset-1' }}">
        {% include 'components/tease-post.twig' with { preview: false } %}
    </div>

{% endfor %}

</div>