{#
	/**
	 * /views/pages/intervenant
	 *
	 * @package 	WordPress
	 * @subpackage 	formeact
	 * @author 		Jérémy Levron <jeremylevron@19h47.fr>
	 */
#}
{% extends 'index.twig' %}

{% block content %}

	{{ parent() }}

	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<p class="h1 margin-xs-bottom-0 margin-xs-top-48">
				{{- fields.page_introduction_title ? fields.page_introduction_title : post.title -}}
				<br>&ndash;
			</p>
		</div>
		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<div class="margin-xs-top-48">
				{% for item in fields.page_introduction_texts %}
					{{- item.text -}}
					<strong>&ndash;</strong>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}