/**
 * Tweet
 *
 * @uses .Tweet
 */
.Tweet {
	@include margin( top $grid-gutter-width bottom $grid-gutter-width );

	/**
	 * Thumbnail
	 *
	 * @uses .Tweet__thumbnail
	 */
	&__thumbnail {
		@extend %display-xs-inline-block, %vertical-align-middle;

		max-width: 100%;
		height: auto;
	}


	/**
	 * Title
	 *
	 * @uses .Tweet__title
	 */
	&__title {}


	/**
	 * Link
	 *
	 * @uses .Tweet__link
	 */
	&__link {
		@extend %display-xs-block;
	}


	/**
	 * Date
	 *
	 * @uses .Tweet__date
	 */
	&__date {
		@extend %font-family-title;

		font: {
			size: 12px;
		}
	}
}