/**
 * Link
 *
 * @uses .Link
 */
.Link {
	@extend %text-transform-uppercase, %font-family-title, %font-weight-bold;
	@extend .color-white;
	@include letter-spacing( 120 );

	font: {
		size: 12px;
	}

	a {
		@extend %display-xs-inline-block;

		background: {
			image: url( #{ map-get( $directories, svg ) }link-background.svg );
			position: center;
			repeat: no-repeat;
			size: 48px;
		}
		height: 48px;
		line-height: 48px;
	}
}