/**
 * Logo
 *
 * @uses .Logo
 * @author Jérémy Levron <jeremylevron@19h47.fr>
 */
.Logo {
	@extend %display-xs-inline-block, %vertical-align-top;
	@include margin( top $grid-gutter-width left $grid-gutter-width );
	
	width: $grid-gutter-width * 2;
	height: auto;

	@at-root .home & {
		width: $grid-gutter-width * 3;
	}
}