/**
 * Menu
 *
 * @uses .Menu
 */
.Menu {
	@extend %font-family-title, %font-weight-medium;

	height: 100%;
	border: {
		left: {
			color: currentColor;
			style: solid;
			width: 1px;
		}
	}

	/**
	 * Items
	 *
	 * @uses .Menu__items
	 */
	&__items {
		@extend %Pointer-events-auto;
	    @include absolute( top 50% right 50% );

		transform-origin: center;
		transform: translate3d( 50%, -50%, 0 ) rotate( 90deg );
		white-space: nowrap;

    	margin: 0;
    	padding: 0;
	}


	/**
	 * Item
	 *
	 * @uses .Menu__item
	 */
	&__item {
		@extend %display-xs-inline-block;

		/**
		 * Current item
		 *
		 * @uses .Menu__item--is-current
		 */
		&--is-current {}

		a {
			@include padding( top 12px right 12px bottom 12px left 12px );
		}
	}
}